<h1>Login to Reservations System</h1>

<form method="POST" action="/login">

Email <input type="email" name="email">
Password <input type="password" name="password">

<input type="submit" id="submit" value="Login">

Or <a href="/signup">create a new account</a>.

</form>