<h1>Signup for Amiibo Collector</h1>

<form method="POST" action="/signup">

Passwords do not match.  Please try again.<br>

Email <input type="email" name="email">
Password <input type="password" name="password">
Confirm Password <input type="password" name="confirm_password">

<input type="submit" value="Signup">

</form>