<h1>Amiibo Collector</h1>
<h2>Create an Account</h2>

<form method="POST" action="/signup">

<div align="center">
<input type="text" name="name" placeholder="Name" required><br>
<input type="text" name="username" placeholder="Username" required><br>
<input type="email" name="email" placeholder="Email Address" required><br>
<input type="email" name="email_confirmation" placeholder="Email Address Confirmation" required><br>
<input type="password" name="password" placeholder="Password" required><br>
<input type="password" name="password_confirmation" placeholder="Password Confirmation" required><br>

<input type="submit" value="Create Account">
</div>

</form>