<h2>Create a New Account or <a href="/login">Login</a></h2>

<form method="POST" action="/signup">

Name<br>
<input type="text" name="name" required><br>
Username<br>
<input type="text" name="username" required><br>
Email Address<br>
<input type="email" name="email" required><br>
Confirm Email Address<br>
<input type="email" name="email_confirmation" required><br>
Password<br>
<input type="password" name="password" required><br>
Confirm Password<br>
<input type="password" name="password_confirmation" required><br>
<br>
<input type="submit" value="Create Account">

</form>