<h2>Create a New Reservation</h2>

<form action='/reservations' method="post" id="reservation">
    Name <input type="text" name="name" value="<%= current_user.name %>" required><br>
    Date <input type="date" name="date" required><br>
    Contact <input type="text" name="contact" value="<%= current_user.email %>" required><br>
    Resource <select name="resource" form="reservation" required>
    <option value="" selected disabled hidden>Select a Resource</option>
    <option value="Buick Century">Buick Century</option>
    <option value="Buick Verano">Buick Verano</option>
    <option value="Kia Forte">Kia Forte</option>
    <option value="Kia Optima">Kia Optima</option>
    </select><br>
    <br>
    <input type="submit" id="submit" value="Create Reservation">
</form>