<form action='/reservations' method="post" id="reservation">
    Name <input type="text" name="name"><br>
    Date <input type="date" name="date"><br>
    Select Resource <input type="select" name="resource"><br>
    Contact <input type="text" name="contact"><br>
    <input type="submit" name="submit" id="submit" value="Create Reservation">
</form>

<select name="carlist" form="reservation">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
</select>